@{
    Layout = null;
}
@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>

<html>
<head>
    <title>专属红包活动</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="format-detection" content="telephone = no" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Back/bootstrap.css")" />
</head>
<body>
    <div>
        <img src="@Url.Content("~/Images/red.jpg")" style="width:100%;" />
    </div>
</body>
</html>
