#snowcanvas {
	pointer-events: none;
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#music1 {
	width: 1.8rem;
	height: 1.8rem;
	position: absolute;
	right: 20px;
	z-index: 999;
}

#music1[play=stop] {
	animation: rotate 4s linear infinite;
	-webkit-animation: rotate 4s linear infinite;
	-ms-animation: rotate 4s linear infinite;
	-moz-animation: rotate 4s linear infinite;
	-o-animation: rotate 4s linear infinite;
}


/**通用样式**/

.music {
	width: 100%;
	height: 2rem;
	border-radius: 5px;
	background: #f6f6f6;
	padding: 0;
	line-height: 2rem;
	cursor: pointer;
	text-indent: 2.5rem;
}

.music[play=on] {
	background-image: url("../img/on.png");
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: 0.5rem center;
}

.music[play=stop] {
	background-image: url(../img/off.png);
	background-repeat: no-repeat;
	background-size: 1.5rem;
	background-position: 0.5rem center;
}

.music span {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}


/*视频容器*/

video {
	/*修复尺寸*/
	width: 100%;
	height: auto;
	max-height: 100%;
	/*修复白边*/
	display: block;
	font-size: 0;
}


/**新版**/

#x-bg {
	position: fixed;
	height: 100%;
	width: 100%;
}

.root {
	height: 100%;
	position: relative;
	z-index: 0;
}

.root.x-cover {
	width: 100%;
	position: relative;
	z-index: 1;
	background-image: url(https://ss2.meipian.me/theme/v2/img/059/bg.jpg?1);
	background-size: 100% auto;
	background-repeat: no-repeat;
	min-height: 100%;
	background-color: #426a76;
}

.x-head {
	position: relative;
}

.x-head .img-container .avatar {
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
	background-size: 100% 100%;
	overflow: hidden;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #fff;
}

.x-head .img-container .avatar img {
	width: 100%;
}

.root .article-meta {
	overflow: hidden;
	word-wrap: break-word;
}

.root .article-meta p.time-read {
	font-family: PingFangSC-Regular;
	letter-spacing: 0;
}

.root .article-meta p.time-read>span {
	margin-right: 10px;
}

.root .article-meta p.nickname {
	font-family: PingFangSC-Medium;
	letter-spacing: 0;
	margin: 0;
}

.x-content {
	position: relative;
}

.x-content .section {
	display: inline-block;
}

.x-content .section.temp {
	padding: 0px 3% 3% 3%;
}

.x-content .section .text {
	line-height: 1.8 !important;
	word-wrap: break-word;
	font-weight: normal;
	white-space: pre-wrap;
	font-family: PingFangSC-Light;
}

.x-content .section img {
	width: 100%;
	vertical-align: bottom;
}

.x-content .x-bg-blur {
	/*background: rgba(27, 62, 85, 0.6);*/
	width: 94%;
	height: 100%;
	z-index: -1;
	top: 0;
	-webkit-backdrop-filter: blur(12px);
	position: absolute;
	border-radius: 8px;
}

.well {
	padding: 0 3%;
}

.well2 {
	padding: 0 6%;
}

#download-bar {
	width: 100%;
	height: auto;
	padding: 2%;
	text-align: left;
	background-color: rgba(255, 255, 255, .95);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	display: block;
	font-size: 12px;
	box-shadow: 0px 3px 3px rgba(182, 194, 202, .5);
}

#download-bar img {
	width: 9%;
	height: auto;
	vertical-align: middle;
}

#download-bar span.download-bar-text {
	width: 62%;
	height: auto;
	text-align: left;
	display: inline-block;
	line-height: 100%;
	vertical-align: middle;
	margin: 0;
	font-size: 12px;
	margin-left: 2%;
}

#download-bar span.download-bar-text span {
	width: auto;
	height: auto;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 120%;
	color: #2A3033;
	font-size: 12px;
	vertical-align: middle;
}

#download-bar span.web-download-bar-text span.web-download-bar-text-title {
	font-size: .9rem;
	margin: 0;
	margin-bottom: 0px;
	margin-top: 0%;
	font-size: 1.5em;
	vertical-align: middle;
}

#download-bar a.download-button {
	line-height: 100%;
	color: #fff;
	text-align: center;
	border-radius: .15em;
	padding: 2.2% 0;
	vertical-align: middle;
	background-color: #7bbef7;
	width: 25%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	font-style: normal;
	color: #fff !important;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.mui-table-view-cell {
	padding: 0px;
}

.oa-contact-cell.mui-table .mui-table-cell {
	padding: 0px;
	vertical-align: top;
}

.oa-contact-cell.comment .mui-table-cell {
	padding: 10px 0px 0px;
	vertical-align: top;
}

.oa-contact-cell {
	position: relative;
}

.oa-contact-avatar {
	width: 3.8rem;
}

.oa-contact-avatar img {
	width: 3rem !important;
	height: 3rem !important;
	border-radius: 50%;
}

.oa-contact-content {
	width: 100%;
	vertical-align: middle;
}

.oa-contact-icon {
	vertical-align: middle;
	width: 1.875rem;
	text-align: right;
}

.oa-contact-icon img {
	width: 2.5rem;
	float: right;
}

.oa-contact-date {
	width: 4.6875rem;
}

.mui-table-view-cell:after {
	left: 0px;
	background-color: transparent;
}

.red {
	color: #ed5565;
}


/**心跳**/

@-ms-keyframes heartbeat {
	0% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-ms-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		color: #ed5565;
	}
}

@-moz-keyframes heartbeat {
	0% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-ms-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		color: #ed5565;
	}
}

@-o-keyframes heartbeat {
	0% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-ms-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		color: #ed5565;
	}
}

@-webkit-keyframes heartbeat {
	0% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-ms-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		color: #ed5565;
	}
}

@keyframes heartbeat {
	0% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		-ms-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
	}
	100% {
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		color: #ed5565;
	}
}

.heartbeat {
	-webkit-animation: heartbeat 500ms linear;
	-moz-animation: heartbeat 500ms linear;
	-ms-animation: heartbeat 500ms linear;
	animation: heartbeat 500ms linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
}

.tip {
	text-align: left;
	background: #eee;
	padding: 10px;
	width: 100%;
	position: relative;
	border-radius: 3px;
}

.tip:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-bottom-color: #eee;
	left: 10px;
	top: -12px;
}

html,
#body {
	max-width: 750px;
}

html,
body,
#body {
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

img {
	max-width: 100%;
}

.download {
	text-align: center;
	width: 17rem;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #fff;
	display: block;
	border-radius: 8px;
	background: #3395ed;
	margin: 1rem 1.5rem;
	text-shadow: none;
	float: left;
	position: fixed;
	bottom: 0px;
}

.comment {
	width: auto;
	margin: 0px;
	margin-bottom: 10px;
	padding: 15px 0;
	padding-bottom: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
	background-color: transparent;
}

.comment .title {
	height: 1.5rem;
}

.comment .title .color-lump {
	background: #2887F0;
	width: 5px;
	height: 100%;
}

.comment .title h2 {
	text-indent: 0.5rem;
	font-weight: normal;
	color: #2887F0;
}

.comment .list {
	width: 100%;
	box-sizing: border-box;
	padding: 10px 0 0;
}

.summary img {
	width: 1rem !important;
	vertical-align: middle;
}

#x-bg {
	max-width: 750px;
}