[
{
"ID": 0,
"Name": "默认",
"Cover": "",
"TitleColor": "#333333",
"UserColor": "#20a0ff",
"ViewColor": "#8C8C8C",
"TimeColor": "#8C8C8C",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Source/Template/00-1.png",
"ThumbImage": "Images/Source/Template/00-1.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 1,
"Name": "自定义",
"Cover": "",
"TitleColor": "#333333",
"UserColor": "#20a0ff",
"ViewColor": "#8C8C8C",
"TimeColor": "#8C8C8C",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.5)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Source/Template/00-2.png",
"ThumbImage": "Images/Source/Template/00-2.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 2,
"Name": "模板1",
"Cover": "",
"TitleColor": "rgba(128,93,87,1)",
"UserColor": "rgba(191,119,92,1)",
"ViewColor": "rgba(181,125,102,1)",
"TimeColor": "rgba(181,125,102,1)",
"MarginTop": "6",
"Transparency": "rgba(128,93,87,0.15)",
"CoverFixed": 1,
"Background": "rgba(230,214,178,1)",
"BackgroundImage": "Images/Source/Template/02-1.png",
"ThumbImage": "Images/Source/Template/02-2.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "100% auto",
"Avatar": {"MarginTop": "8rem"},
"FontColor": "#333"
},
{
"ID": 3,
"Name": "模板2",
"Cover": "",
"TitleColor": "rgba(199,21,59,1)",
"UserColor": "rgba(156,81,99,1)",
"ViewColor": "rgba(255,71,110,1)",
"TimeColor": "rgba(255,71,110,1)",
"MarginTop": "6",
"Transparency": "rgba(199,21,59,0.15)",
"CoverFixed": 1,
"Background": "rgba(230,177,177,1)",
"BackgroundImage": "Images/Source/Template/03-1.png",
"ThumbImage": "Images/Source/Template/03-2.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "100% auto",
"Avatar": {"MarginTop": "8rem"},
"FontColor": "#333"
},
{
"ID": 4,
"Name": "模板3",
"Cover": "",
"TitleColor": "rgba(237,130,116,1)",
"UserColor": "rgba(140,64,12,1)",
"ViewColor": "rgba(210,140,90,1)",
"TimeColor": "rgba(210,140,90,1)",
"MarginTop": "6",
"Transparency": "rgba(237,130,116,0.15)",
"CoverFixed": 1,
"Background": "rgba(250,244,228,1)",
"BackgroundImage": "Images/Source/Template/04-1.png",
"ThumbImage": "Images/Source/Template/04-2.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "100% auto",
"Avatar": {"MarginTop": "8rem"},
"FontColor": "#333"
},
{
"ID": 5,
"Name": "模板4",
"Cover": "",
"TitleColor": "rgba(102,42,18,1)",
"UserColor": "rgba(75,94,20,1)",
"ViewColor": "rgba(128,59,19,1)",
"TimeColor": "rgba(128,59,19,1)",
"MarginTop": "6",
"Transparency": "rgba(102,42,18,0.15)",
"CoverFixed": 1,
"Background": "rgba(217,217,128,1)",
"BackgroundImage": "Images/Source/Template/05-1.png",
"ThumbImage": "Images/Source/Template/05-2.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "100% auto",
"Avatar": {"MarginTop": "8rem"},
"FontColor": "#333"
},
{
"ID": 6,
"Name": "模板5",
"Cover": "",
"TitleColor": "rgba(62,56,84,1)",
"UserColor": "rgba(117,36,76,1)",
"ViewColor": "rgba(98,106,147,1)",
"TimeColor": "rgba(98,106,147,1)",
"MarginTop": "6",
"Transparency": "rgba(62,56,84,0.15)",
"CoverFixed": 1,
"Background": "rgba(190,190,190,1)",
"BackgroundImage": "Images/Source/Template/06-1.png",
"ThumbImage": "Images/Source/Template/06-2.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "100% auto",
"Avatar": {"MarginTop": "8rem"},
"FontColor": "#333"
},
{
"ID": 67,
"Name": "模板6",
"Cover": "",
"TitleColor": "rgba(62,78,61,1)",
"UserColor": "rgba(192,139,80,1)",
"ViewColor": "rgba(67,118,106,1)",
"TimeColor": "rgba(67,118,106,1)",
"MarginTop": "6",
"Transparency": "rgba(62,78,61,0.15)",
"CoverFixed": 1,
"Background": "rgba(186,209,199,1)",
"BackgroundImage": "Images/Source/Template/01-1.png",
"ThumbImage": "Images/Source/Template/01-2.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "100% auto",
"Avatar": {"MarginTop": "8rem"},
"FontColor": "#333"
},
{
"ID": 68,
"Name": "蓝天碧海",
"Cover": "",
"TitleColor": "rgba(13,53,99,1)",
"UserColor": "rgba(28,62,82,1)",
"ViewColor": "rgba(28,107,150,1)",
"TimeColor": "rgba(28,107,150,1)",
"MarginTop": "6",
"Transparency": "rgba(13,53,99,0.15)",
"CoverFixed": 1,
"Background": "rgba(146,201,209,1)",
"BackgroundImage": "Images/Source/Template/07-1.png",
"ThumbImage": "Images/Source/Template/07-2.png",
"BackgroundRepeat": "no-repeat",
"BackgroundSize": "100% auto",
"Avatar": {"MarginTop": "8rem"},
"FontColor": "#333"
},
{
"ID": 71,
"Name": "森林物语",
"Cover": "",
"TitleColor": "#facb66",
"UserColor": "#20a0ff",
"ViewColor": "#facb66",
"TimeColor": "#facb66",
"MarginTop": "-2",
"Transparency": "",
"CoverFixed": 2,
"Background": "#071f35",
"BackgroundImage": "",
"ThumbImage": "Images/Source/Template/thumb1.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"TopImage": [{"Url": "Images/PicTB/pic_head0.png","Width": "100%","Align": "fl"}],
"BottomImage": "Images/PicTB/pic_bottom0.png",
"Avatar": {"MarginTop": "12rem"},
"FontColor": "#facb66"
},
{
"ID": 72,
"Name": "拾趣心情",
"Cover": "",
"TitleColor": "#333333",
"UserColor": "#20a0ff",
"ViewColor": "#8C8C8C",
"TimeColor": "#8C8C8C",
"MarginTop": "-1",
"Transparency": "",
"CoverFixed": 2,
"Background": "#fefefe",
"BackgroundImage": "",
"ThumbImage": "Images/Source/Template/thumb2.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"TopImage": [{"Url": "Images/PicTB/pic_head1.png","Width": "100%","Align": "fl"},{"Url": "Images/PicTB/pic_head1_left.png","Width": "30%","Align": "fl"},{"Url": "Images/PicTB/pic_head1_right.png","Width": "25%","Align": "fr"}],
"BottomImage": "Images/PicTB/pic_bottom1.png",
"FontColor": "#333"
},
{
"ID": 73,
"Name": "诗情画意",
"Cover": "",
"TitleColor": "#333333",
"UserColor": "#20a0ff",
"ViewColor": "#555555",
"TimeColor": "#555555",
"MarginTop": "-4",
"Transparency": "",
"CoverFixed": 2,
"Background": "#fefefe",
"BackgroundImage": "Images/PicTB/pic_bg2.jpg",
"ThumbImage": "Images/Source/Template/thumb3.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"TopImage": [{"Url": "Images/PicTB/pic_head2.png","Width": "100%","Align": "fl"}],
"BottomImage": "Images/PicTB/pic_bottom2.png",
"FontColor": "#090d0e"
},
{
"ID": 74,
"Name": "山林仙鹤",
"Cover": "",
"TitleColor": "#333333",
"UserColor": "#20a0ff",
"ViewColor": "#555555",
"TimeColor": "#555555",
"MarginTop": "-4",
"Transparency": "",
"CoverFixed": 2,
"Background": "#fefefe",
"BackgroundImage": "Images/PicTB/pic_bg3.jpg",
"ThumbImage": "Images/Source/Template/thumb4.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"TopImage": [{"Url": "Images/PicTB/pic_head3.png","Width": "100%","Align": "fl"}],
"BottomImage": "Images/PicTB/pic_bottom3.png",
"Avatar": {"MarginTop": "12rem"},
"FontColor": "#090d0e"
},
{
"ID": 75,
"Name": "水墨山水",
"Cover": "",
"TitleColor": "#333333",
"UserColor": "#20a0ff",
"ViewColor": "#555555",
"TimeColor": "#555555",
"MarginTop": "-4",
"Transparency": "",
"CoverFixed": 2,
"Background": "#fefefe",
"BackgroundImage": "Images/PicTB/pic_bg4.jpg",
"ThumbImage": "Images/Source/Template/thumb5.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"TopImage": [{"Url": "Images/PicTB/pic_head4.png","Width": "100%","Align": "fl"}],
"BottomImage": "Images/PicTB/pic_bottom4.png",
"Avatar": {"MarginTop": "10rem"},
"FontColor": "#090d0e"
},
{
"ID": 76,
"Name": "飞越环球",
"Cover": "",
"TitleColor": "#333333",
"UserColor": "#20a0ff",
"ViewColor": "#985600",
"TimeColor": "#985600",
"MarginTop": "-4",
"Transparency": "",
"CoverFixed": 2,
"Background": "#f9e9d8",
"BackgroundImage": "",
"ThumbImage": "Images/Source/Template/thumb6.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"TopImage": [{"Url": "Images/PicTB/pic_head5.png","Width": "100%","Align": "fl"}],
"BottomImage": "Images/PicTB/pic_bottom5.png",
"Avatar": {"MarginTop": "10rem"},
"FontColor": "#5c4e45"
},
{
"ID": 77,
"Name": "梅花闹春",
"Cover": "",
"TitleColor": "#5c4e45",
"UserColor": "#20a0ff",
"ViewColor": "#5c4e45",
"TimeColor": "#5c4e45",
"MarginTop": "-2",
"Transparency": "",
"CoverFixed": 2,
"Background": "#f5f1e5",
"BackgroundImage": "",
"ThumbImage": "Images/Source/Template/thumb7.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"TopImage": [{"Url": "Images/PicTB/pic_head7_left.png","Width": "40%","Align": "fl"},{"Url": "Images/PicTB/pic_head7_right.png","Width": "40%","Align": "fr"}],
"BottomImage": "Images/PicTB/pic_bottom7.png",
"Avatar": {"MarginTop": "7rem"},
"FontColor": "#5c4e45"
},
{
"ID": 78,
"Name": "大红灯笼",
"Cover": "",
"TitleColor": "#680c0a",
"UserColor": "#20a0ff",
"ViewColor": "#570b09",
"TimeColor": "#570b09",
"MarginTop": "-2",
"Transparency": "",
"CoverFixed": 2,
"Background": "#d5283c",
"BackgroundImage": "",
"ThumbImage": "Images/Source/Template/thumb8.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"TopImage": [{"Url": "Images/PicTB/pic_head8_left.png","Width": "40%","Align": "fl"},{"Url": "Images/PicTB/pic_head8_right.png","Width": "40%","Align": "fr"}],
"BottomImage": "Images/PicTB/pic_bottom8.png",
"Avatar": {"MarginTop": "7rem"},
"FontColor": "#fff"
},
{
"ID": 79,
"Name": "花礼",
"Cover": "",
"TitleColor": "#682A30",
"UserColor": "#FB9900",
"ViewColor": "#9C836A",
"TimeColor": "#9C836A",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "#fefaf1",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9063/63_bg.png?https://ss2.meipian.me/theme/v2/img/9063/63_bg_reverse.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9063/63_fm.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "10% auto",
"BackgroundPosition": "left, right",
"Avatar": {"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9063/63_fm.png","Width": "13rem","Height": "13rem","SubWidth": "60%","Top": "20%","Left": "20%","MarginTop": "3rem","MarginBottom": "2rem"},
"Showy": "Images/Showy/00/13.png|10|13",
"FontColor": "#682A30"
},
{
"ID": 80,
"Name": "喜帖",
"Cover": "",
"TitleColor": "#7F3435",
"UserColor": "#FB9900",
"ViewColor": "#B87E7F",
"TimeColor": "#B87E7F",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "#fdf2e2",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9065/65_bg.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9065/65_fm.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100%",
"Avatar": {"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9065/65_fm.png","Width": "100%","Height": "21rem","SubWidth": "70%","Top": "10%","Left": "15%","MarginTop": "0rem","MarginBottom": "1rem","BorderRadius":"0"},
"Showy": "Images/Showy/00/13.png|10|13",
"FontColor": "#7F3435"
},
{
"ID": 81,
"Name": "华贵",
"Cover": "",
"TitleColor": "#3C2015",
"UserColor": "#CF8000",
"ViewColor": "#9C836A",
"TimeColor": "#9C836A",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9061/61_bg.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9061/61_fmbg.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100%",
"TopImage": [{"Url": "https://ss2.meipian.me/theme/v2/img/9061/61_fmbg.png","Width": "100%","Align": "fl"}],
"Avatar": {"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9061/61_tx.png","Width": "8rem","Height": "8rem","SubWidth": "70%","Top": "15%","Left": "15%","MarginTop": "3rem","MarginBottom": "7rem","Index":"1"},
"Showy": "Images/Showy/00/13.png|10|13",
"FontColor": "#333"
},
{
"ID": 82,
"Name": "浪漫",
"Cover": "",
"TitleColor": "#A43BA4",
"UserColor": "#2067FF",
"ViewColor": "#DFA9DF",
"TimeColor": "#DFA9DF",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9069/69_bg.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9069/69_fm.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100%",
"TopImage": [{"Url": "https://ss2.meipian.me/theme/v2/img/9069/69_fm.png","Width": "100%","Align": "fl"}],
"Avatar": {"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9069/69_tx.png","Width": "11rem","Height": "11rem","SubWidth": "80%","Top": "9.5%","Left": "10%","MarginTop": "4rem","MarginBottom": "7rem","Index":"1"},
"Showy": "Images/Showy/00/13.png|10|13",
"FontColor": "#A43BA4"
},
{
"ID": 83,
"Name": "恭贺新春",
"Cover": "",
"TitleColor": "#5D3E29",
"UserColor": "#D8B25A",
"ViewColor": "#5D3E29",
"TimeColor": "#5D3E29",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "#fcfbf9",
"BackgroundImage": "",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/springFestival/03_bg.jpg",
"BackgroundRepeat": "",
"BackgroundSize": "",
"TopImage": [{"Url": "https://ss2.meipian.me/theme/v2/img/springFestival/03_bg.jpg","Width": "100%","Align": "fl"}],
"Avatar": {"BackgroundImage": "","Width": "","Height": "","SubWidth": "","Top": "","Left": "","MarginTop": "12rem","MarginBottom": "1rem","Index":"1"},
"ShowAvatar":-1,
"Showy": "Images/Showy/00/snow_1.png|30|15",
"FontColor": "#5D3E29"
},
{
"ID": 84,
"Name": "重阳",
"Cover": "",
"TitleColor": "#FFFFFF",
"UserColor": "#7F4F28",
"ViewColor": "#DADADA",
"TimeColor": "#DADADA",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9053/9053_bg.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9053/9053_top_mobile@2x.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "",
"TopImage": [{"Url": "https://ss2.meipian.me/theme/v2/img/9053/9053_top_mobile@2x.png","Width": "100%","Align": "fl"}],
"Avatar": {"BackgroundImage": "","Width": "100%","Height": "","SubWidth": "4rem","Top": "","Left": "14rem","MarginTop": "15.5rem","MarginBottom": "1rem","Index":"1","Border":"3px solid #FFFFFF"},
"FontColor": "#fff"
},
{
"ID": 85,
"Name": "中秋1",
"Cover": "",
"TitleColor": "#914C28",
"UserColor": "#FA8F61",
"ViewColor": "#BF907F",
"TimeColor": "#BF907F",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "#2c3935",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9051/9051_bg_Tile.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9051/9051_bg_top_Mobile@2x.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "",
"TopImage": [{"Url": "https://ss2.meipian.me/theme/v2/img/9051/9051_bg_top_Mobile@2x.png","Width": "100%","Align": "fl"}],
"Avatar": {"BackgroundImage": "","Width": "100%","Height": "","SubWidth": "4rem","Top": "","Left": "","MarginTop": "18rem","MarginBottom": "1rem"},
"ShowAvatar":-1,
"FontColor": "#914C28"
},
{
"ID": 86,
"Name": "中秋2",
"Cover": "",
"TitleColor": "#6C3C20",
"UserColor": "#618FF3",
"ViewColor": "#9B703E",
"TimeColor": "#9B703E",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "#2c3935",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9052/9052_bg_Tile@2x.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9052/9052_bg_top_Mobile@2x.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100%",
"TopImage": [{"Url": "https://ss2.meipian.me/theme/v2/img/9052/9052_bg_top_Mobile@2x.png","Width": "100%","Align": "fl"}],
"Avatar": {"BackgroundImage": "","Width": "100%","Height": "","SubWidth": "4rem","Top": "","Left": "","MarginTop": "28rem","MarginBottom": "1rem"},
"ShowAvatar":-1,
"FontColor": "#6C3C20"
},
{
"ID": 87,
"Name": "教师节1",
"Cover": "",
"TitleColor": "#350C13",
"UserColor": "#FDD995",
"ViewColor": "#7B4527",
"TimeColor": "#7B4527",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "#2c3935",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9047/9047_bg@2x.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9047/9047_top@2x.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "50%",
"TopImage": [{"Url": "https://ss2.meipian.me/theme/v2/img/9047/9047_top@2x.png","Width": "100%","Align": "fl"}],
"Avatar": {"BackgroundImage": "","Width": "100%","Height": "","SubWidth": "4rem","Top": "","Left": "","MarginTop": "24rem","MarginBottom": "1rem"},
"ShowAvatar":-1,
"FontColor": "#3C2015"
},
{
"ID": 88,
"Name": "教师节2",
"Cover": "",
"TitleColor": "#FFFFFF",
"UserColor": "#E9B281",
"ViewColor": "#9B9B9B",
"TimeColor": "#9B9B9B",
"MarginTop": "3",
"Transparency": "",
"CoverFixed": 0,
"Background": "#2c3935",
"BackgroundImage": "https://ss2.meipian.me/theme/v2/img/9048/9048_liangbianzhaungshi@2x.png",
"ThumbImage": "https://ss2.meipian.me/theme/v2/img/9048/9048_liangbianzhaungshi@2x.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "50%",
"TopImage": [{"Url": "https://ss2.meipian.me/theme/v2/img/9048/9048_top@2x.png","Width": "100%","Align": "fl"}],
"Avatar": {"BackgroundImage": "","Width": "100%","Height": "","SubWidth": "4rem","Top": "","Left": "","MarginTop": "10rem","MarginBottom": "1rem"},
"ShowAvatar":-1,
"FontColor": "#fff"
},
{
"ID": 7,
"Name": "爱心瓶",
"Cover": "background_pinkbottle_img",
"TitleColor": "#ffffff",
"UserColor": "#c51f1f",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_pinkbottle_img.jpg",
"ThumbImage": "Images/CoverThumb/background_pinkbottle_img.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100%",
"FontColor": "#333"
},
{
"ID": 8,
"Name": "温馨",
"Cover": "background_pinklying_img",
"TitleColor": "#333333",
"UserColor": "#0080ff",
"ViewColor": "#8C8C8C",
"TimeColor": "#8C8C8C",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_pinklying_img.jpg",
"ThumbImage": "Images/CoverThumb/background_pinklying_img.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100%",
"FontColor": "#333"
},
{
"ID": 9,
"Name": "爱心墙",
"Cover": "background_pinkwall_img",
"TitleColor": "#333333",
"UserColor": "#0080ff",
"ViewColor": "#8C8C8C",
"TimeColor": "#8C8C8C",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_pinkwall_img.jpg",
"ThumbImage": "Images/CoverThumb/background_pinkwall_img.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100%",
"FontColor": "#333"
},
{
"ID": 11,
"Name": "绿色花纹",
"Cover": "background_green_img",
"TitleColor": "#ffffff",
"UserColor": "#ffffff",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_green_img.jpg",
"ThumbImage": "Images/CoverThumb/background_green_img.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100%",
"FontColor": "#333"
},
{
"ID": 12,
"Name": "梦幻蓝色",
"Cover": "background_blue_img",
"TitleColor": "#611dad",
"UserColor": "#540a7a",
"ViewColor": "#ad66ff",
"TimeColor": "#ad66ff",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_blue_img.jpg",
"ThumbImage": "Images/CoverThumb/background_blue_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 13,
"Name": "米色浪漫",
"Cover": "background_pink_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_pink_img.png",
"ThumbImage": "Images/CoverThumb/background_pink_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 14,
"Name": "萌物",
"Cover": "background_colorful03",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful03.jpg",
"ThumbImage": "Images/CoverThumb/background_colorful03.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 15,
"Name": "甜品",
"Cover": "background_colorful02",
"TitleColor": "#064a06",
"UserColor": "#072f07",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(6,74,6,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful02.jpg",
"ThumbImage": "Images/CoverThumb/background_colorful02.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 16,
"Name": "粉色甜品",
"Cover": "background_colorful04",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful04.jpg",
"ThumbImage": "Images/CoverThumb/background_colorful04.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 17,
"Name": "叶片",
"Cover": "background_colorful07",
"TitleColor": "#064a06",
"UserColor": "#072f07",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(6,74,6,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful07.jpg",
"ThumbImage": "Images/CoverThumb/background_colorful07.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 18,
"Name": "动感方块",
"Cover": "background_congruent_pentagon_img",
"TitleColor": "#064a06",
"UserColor": "#072f07",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(6,74,6,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_congruent_pentagon_img.png",
"ThumbImage": "Images/CoverThumb/background_congruent_pentagon_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 19,
"Name": "纸纹",
"Cover": "background_chruch_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_chruch_img.png",
"ThumbImage": "Images/CoverThumb/background_chruch_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 20,
"Name": "质感",
"Cover": "background_egg_shell_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_egg_shell_img.png",
"ThumbImage": "Images/CoverThumb/background_egg_shell_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 21,
"Name": "马赛克",
"Cover": "background_grey_brick_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_grey_brick_img.png",
"ThumbImage": "Images/CoverThumb/background_grey_brick_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 22,
"Name": "方格",
"Cover": "background_cream_pixels_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_cream_pixels_img.png",
"ThumbImage": "Images/CoverThumb/background_cream_pixels_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 23,
"Name": "砖墙",
"Cover": "background_ravenna_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_ravenna_img.png",
"ThumbImage": "Images/CoverThumb/background_ravenna_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 24,
"Name": "白麻",
"Cover": "background_bgnoise_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_bgnoise_img.png",
"ThumbImage": "Images/CoverThumb/background_bgnoise_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 25,
"Name": "圈圈",
"Cover": "background_dimension_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_dimension_img.png",
"ThumbImage": "Images/CoverThumb/background_dimension_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 26,
"Name": "大理石",
"Cover": "background_freshsnow_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_freshsnow_img.jpg",
"ThumbImage": "Images/CoverThumb/background_freshsnow_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 27,
"Name": "几何",
"Cover": "background_geometry_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_geometry_img.png",
"ThumbImage": "Images/CoverThumb/background_geometry_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 28,
"Name": "白革",
"Cover": "background_whiteleather_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_whiteleather_img.jpg",
"ThumbImage": "Images/CoverThumb/background_whiteleather_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 29,
"Name": "编织",
"Cover": "background_sos_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_sos_img.png",
"ThumbImage": "Images/CoverThumb/background_sos_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 30,
"Name": "淡蓝",
"Cover": "background_light_blue_img",
"TitleColor": "#611dad",
"UserColor": "#540a7a",
"ViewColor": "#ad66ff",
"TimeColor": "#ad66ff",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_light_blue_img.png",
"ThumbImage": "Images/CoverThumb/background_light_blue_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 31,
"Name": "花纹",
"Cover": "background_dot_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_dot_img.png",
"ThumbImage": "Images/CoverThumb/background_dot_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 32,
"Name": "黄点",
"Cover": "background_red_dotted_img",
"TitleColor": "#ffffff",
"UserColor": "#492913",
"ViewColor": "#cccccc",
"TimeColor": "#cccccc",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_red_dotted_img.png",
"ThumbImage": "Images/CoverThumb/background_red_dotted_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 33,
"Name": "黄点",
"Cover": "background_colorful1",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful1.png",
"ThumbImage": "Images/CoverThumb/background_colorful1.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 34,
"Name": "紫点",
"Cover": "background_colorful2",
"TitleColor": "#ffffff",
"UserColor": "#ffffff",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful2.png",
"ThumbImage": "Images/CoverThumb/background_colorful2.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 35,
"Name": "绿点",
"Cover": "background_colorful3",
"TitleColor": "#064a06",
"UserColor": "#072f07",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(6,74,6,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful3.png",
"ThumbImage": "Images/CoverThumb/background_colorful3.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 36,
"Name": "茶点",
"Cover": "background_colorful4",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful4.png",
"ThumbImage": "Images/CoverThumb/background_colorful4.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 37,
"Name": "蓝点",
"Cover": "background_colorful5",
"TitleColor": "#ffffff",
"UserColor": "#ffffff",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful5.png",
"ThumbImage": "Images/CoverThumb/background_colorful5.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 38,
"Name": "彩块",
"Cover": "background_colorful01",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful01.jpg",
"ThumbImage": "Images/CoverThumb/background_colorful01.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 39,
"Name": "紫色线条",
"Cover": "background_colorful06",
"TitleColor": "#611dad",
"UserColor": "#540a7a",
"ViewColor": "#ad66ff",
"TimeColor": "#ad66ff",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_colorful06.jpg",
"ThumbImage": "Images/CoverThumb/background_colorful06.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 40,
"Name": "土地",
"Cover": "background_black_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_black_img.jpg",
"ThumbImage": "Images/CoverThumb/background_black_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 41,
"Name": "刺绣",
"Cover": "background_dark_embroidery_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_dark_embroidery_img.png",
"ThumbImage": "Images/CoverThumb/background_dark_embroidery_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 42,
"Name": "纹路",
"Cover": "background_congruent_outline_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_congruent_outline_img.png",
"ThumbImage": "Images/CoverThumb/background_congruent_outline_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 43,
"Name": "编织",
"Cover": "background_woven_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_woven_img.png",
"ThumbImage": "Images/CoverThumb/background_woven_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 44,
"Name": "复古纸",
"Cover": "background_retro",
"TitleColor": "#064a06",
"UserColor": "#072f07",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(6,74,6,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_retro.jpg",
"ThumbImage": "Images/CoverThumb/background_retro.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"FontColor": "#333"
},
{
"ID": 45,
"Name": "羊皮卷",
"Cover": "background_retro02",
"TitleColor": "#064a06",
"UserColor": "#072f07",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(6,74,6,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_retro02.jpg",
"ThumbImage": "Images/CoverThumb/background_retro02.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"FontColor": "#333"
},
{
"ID": 46,
"Name": "木纹",
"Cover": "background_wooddesk_img",
"TitleColor": "#064a06",
"UserColor": "#072f07",
"ViewColor": "#333333",
"TimeColor": "#333333",
"MarginTop": "3",
"Transparency": "rgba(6,74,6,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_wooddesk_img.jpg",
"ThumbImage": "Images/CoverThumb/background_wooddesk_img.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"FontColor": "#333"
},
{
"ID": 47,
"Name": "黑板",
"Cover": "background_blackboard",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_blackboard.jpg",
"ThumbImage": "Images/CoverThumb/background_blackboard.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"FontColor": "#333"
},
{
"ID": 48,
"Name": "绿黑板",
"Cover": "background_greenboard",
"TitleColor": "#ffffff",
"UserColor": "#333333",
"ViewColor": "#ffffff",
"TimeColor": "#ffffff",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_greenboard.png",
"ThumbImage": "Images/CoverThumb/background_greenboard.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"FontColor": "#333"
},
{
"ID": 49,
"Name": "墨绿黑板",
"Cover": "background_greenboard2",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_greenboard2.jpg",
"ThumbImage": "Images/CoverThumb/background_greenboard2.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"FontColor": "#333"
},
{
"ID": 50,
"Name": "碳纤维",
"Cover": "background_carbonfibre_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_carbonfibre_img.png",
"ThumbImage": "Images/CoverThumb/background_carbonfibre_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 51,
"Name": "黑砖墙",
"Cover": "background_darkbrickwall_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_darkbrickwall_img.png",
"ThumbImage": "Images/CoverThumb/background_darkbrickwall_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 52,
"Name": "轮胎印",
"Cover": "background_darktire_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_darktire_img.png",
"ThumbImage": "Images/CoverThumb/background_darktire_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 53,
"Name": "灰单宁",
"Cover": "background_darkdenim_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_darkdenim_img.png",
"ThumbImage": "Images/CoverThumb/background_darkdenim_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 54,
"Name": "灰呢",
"Cover": "background_tweed_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_tweed_img.png",
"ThumbImage": "Images/CoverThumb/background_tweed_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 55,
"Name": "棉绒",
"Cover": "background_wildoliva_img",
"TitleColor": "#ffffff",
"UserColor": "#cccccc",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(255,255,255,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_wildoliva_img.png",
"ThumbImage": "Images/CoverThumb/background_wildoliva_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 56,
"Name": "萤石",
"Cover": "background_greencup_img",
"TitleColor": "#09471c",
"UserColor": "#09471c",
"ViewColor": "#c2ffd5",
"TimeColor": "#c2ffd5",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_greencup_img.jpg",
"ThumbImage": "Images/CoverThumb/background_greencup_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 57,
"Name": "化纤",
"Cover": "background_nastyfabric_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_nastyfabric_img.png",
"ThumbImage": "Images/CoverThumb/background_nastyfabric_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 58,
"Name": "金星",
"Cover": "background_newyear_star_img",
"TitleColor": "#ffffff",
"UserColor": "#492913",
"ViewColor": "#cccccc",
"TimeColor": "#cccccc",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_newyear_star_img.png",
"ThumbImage": "Images/CoverThumb/background_newyear_star_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 59,
"Name": "福团",
"Cover": "background_newyear_fu_img",
"TitleColor": "#ffffff",
"UserColor": "#492913",
"ViewColor": "#cccccc",
"TimeColor": "#cccccc",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_newyear_fu_img.png",
"ThumbImage": "Images/CoverThumb/background_newyear_fu_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 60,
"Name": "飘雪",
"Cover": "background_newyear_snow01_img",
"TitleColor": "#ffffff",
"UserColor": "#492913",
"ViewColor": "#cccccc",
"TimeColor": "#cccccc",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_newyear_snow01_img.png",
"ThumbImage": "Images/CoverThumb/background_newyear_snow01_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 61,
"Name": "雪花",
"Cover": "background_newyear_snow02_img",
"TitleColor": "#ffffff",
"UserColor": "#492913",
"ViewColor": "#cccccc",
"TimeColor": "#cccccc",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_newyear_snow02_img.png",
"ThumbImage": "Images/CoverThumb/background_newyear_snow02_img.png",
"BackgroundRepeat": "repeat",
"BackgroundSize": "auto",
"FontColor": "#333"
},
{
"ID": 62,
"Name": "百福",
"Cover": "background_big_fu_img",
"TitleColor": "#ffffff",
"UserColor": "#c51f1f",
"ViewColor": "#999999",
"TimeColor": "#999999",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.2)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_big_fu_img.png",
"ThumbImage": "Images/CoverThumb/background_big_fu_img.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"FontColor": "#333"
},
{
"ID": 63,
"Name": "白福",
"Cover": "background_white_fu_img",
"TitleColor": "#999999",
"UserColor": "#0080ff",
"ViewColor": "#666666",
"TimeColor": "#666666",
"MarginTop": "3",
"Transparency": "rgba(0,0,0,0.1)",
"CoverFixed": 1,
"Background": "#fff",
"BackgroundImage": "Images/Cover/background_white_fu_img.png",
"ThumbImage": "Images/CoverThumb/background_white_fu_img.png",
"BackgroundRepeat": "repeat-y",
"BackgroundSize": "100% auto",
"FontColor": "#333"
}
]