[
{"ID":1,"TitleColor":"#ffffff","UserColor":"#ffffff","ViewColor":"#cccccc","TimeColor":"#cccccc"},
{"ID":2,"TitleColor":"#333333","UserColor":"#20a0ff","ViewColor":"#8C8C8C","TimeColor":"#8C8C8C"},
{"ID":3,"TitleColor":"#242424","UserColor":"#333333","ViewColor":"#8C8C8C","TimeColor":"#8C8C8C"},
{"ID":4,"TitleColor":"#545454","UserColor":"#333333","ViewColor":"#545454","TimeColor":"#545454"},
{"ID":5,"TitleColor":"#848484","UserColor":"#333333","ViewColor":"#848484","TimeColor":"#848484"},
{"ID":6,"TitleColor":"#C93756","UserColor":"#951530","ViewColor":"#ff7794","TimeColor":"#ff7794"},
{"ID":7,"TitleColor":"#F05654","UserColor":"#bf2422","ViewColor":"#ff9291","TimeColor":"#ff9291"},
{"ID":8,"TitleColor":"#F35336","UserColor":"#bf2422","ViewColor":"#ff9291","TimeColor":"#ff9291"},
{"ID":9,"TitleColor":"#C32136","UserColor":"#951530","ViewColor":"#ff7794","TimeColor":"#ff7794"},
{"ID":10,"TitleColor":"#FF8936","UserColor":"#bb5812","ViewColor":"#ffbb8c","TimeColor":"#ffbb8c"},
{"ID":11,"TitleColor":"#FFA400","UserColor":"#a46900","ViewColor":"#ffc55c","TimeColor":"#ffc55c"},
{"ID":12,"TitleColor":"#EE8FB7","UserColor":"#bf4679","ViewColor":"#ffb5d4","TimeColor":"#ffb5d4"},
{"ID":13,"TitleColor":"#ff84a2","UserColor":"#d83f64","ViewColor":"#ffb8c9","TimeColor":"#ffb8c9"},
{"ID":14,"TitleColor":"#fba4c2","UserColor":"#d66189","ViewColor":"#ffcadc","TimeColor":"#ffcadc"},
{"ID":15,"TitleColor":"#e7a3cb","UserColor":"#bb5591","ViewColor":"#ffc7e8","TimeColor":"#ffc7e8"},
{"ID":16,"TitleColor":"#F0C239","UserColor":"#bc9217","ViewColor":"#fad66c","TimeColor":"#fad66c"},
{"ID":17,"TitleColor":"#C89B40","UserColor":"#926814","ViewColor":"#ffc552","TimeColor":"#ffc552"},
{"ID":18,"TitleColor":"#60281E","UserColor":"#3d1007","ViewColor":"#a75142","TimeColor":"#a75142"},
{"ID":19,"TitleColor":"#B25D25","UserColor":"#74340a","ViewColor":"#e58a4d","TimeColor":"#e58a4d"},
{"ID":20,"TitleColor":"#AE7000","UserColor":"#654100","ViewColor":"#e6a329","TimeColor":"#e6a329"},
{"ID":21,"TitleColor":"#7C4B00","UserColor":"#442900","ViewColor":"#c47f16","TimeColor":"#c47f16"},
{"ID":22,"TitleColor":"#6E511E","UserColor":"#493107","ViewColor":"#b89049","TimeColor":"#b89049"},
{"ID":23,"TitleColor":"#955539","UserColor":"#66311a","ViewColor":"#cc8668","TimeColor":"#cc8668"},
{"ID":24,"TitleColor":"#789262","UserColor":"#4a6137","ViewColor":"#a6c988","TimeColor":"#a6c988"},
{"ID":25,"TitleColor":"#0C8918","UserColor":"#04620d","ViewColor":"#3ec34b","TimeColor":"#3ec34b"},
{"ID":26,"TitleColor":"#0EB83A","UserColor":"#00751e","ViewColor":"#2de85d","TimeColor":"#2de85d"},
{"ID":27,"TitleColor":"#057748","UserColor":"#17b775","ViewColor":"#00492b","TimeColor":"#00492b"},
{"ID":28,"TitleColor":"#9ED048","UserColor":"#709d22","ViewColor":"#d4ff8a","TimeColor":"#d4ff8a"},
{"ID":29,"TitleColor":"#177CB0","UserColor":"#075279","ViewColor":"#33a9e6","TimeColor":"#33a9e6"},
{"ID":30,"TitleColor":"#44CEF6","UserColor":"#1a98bc","ViewColor":"#8ee6ff","TimeColor":"#8ee6ff"},
{"ID":31,"TitleColor":"#0cd3fa","UserColor":"#1a98bc","ViewColor":"#8ee6ff","TimeColor":"#8ee6ff"},
{"ID":32,"TitleColor":"#42b3d5","UserColor":"#1a98bc","ViewColor":"#8ee6ff","TimeColor":"#8ee6ff"},
{"ID":33,"TitleColor":"#1880c5","UserColor":"#005288","ViewColor":"#4bb7ff","TimeColor":"#4bb7ff"},
{"ID":34,"TitleColor":"#8D4BBB","UserColor":"#5d1e88","ViewColor":"#bc76ed","TimeColor":"#bc76ed"},
{"ID":35,"TitleColor":"#815476","UserColor":"#502746","ViewColor":"#d290c2","TimeColor":"#d290c2"},
{"ID":36,"TitleColor":"#952eb6","UserColor":"#610f7b","ViewColor":"#c554ea","TimeColor":"#c554ea"},
{"ID":37,"TitleColor":"#72528a","UserColor":"#44245d","ViewColor":"#bb89e0","TimeColor":"#bb89e0"},
{"ID":38,"TitleColor":"#920783","UserColor":"#53004a","ViewColor":"#ed3bda","TimeColor":"#ed3bda"}
]