[
{"ID":1,"TitleColor":"#ffffff","UserColor":"#ffffff","ViewColor":"#ffffff","TimeColor":"#ffffff"},
{"ID":2,"TitleColor":"#000000","UserColor":"#000000","ViewColor":"#000000","TimeColor":"#000000"},
{"ID":3,"TitleColor":"#242424","UserColor":"#242424","ViewColor":"#242424","TimeColor":"#242424"},
{"ID":4,"TitleColor":"#545454","UserColor":"#545454","ViewColor":"#545454","TimeColor":"#545454"},
{"ID":5,"TitleColor":"#848484","UserColor":"#848484","ViewColor":"#848484","TimeColor":"#848484"},
{"ID":6,"TitleColor":"#C93756","UserColor":"#C93756","ViewColor":"#C93756","TimeColor":"#C93756"},
{"ID":7,"TitleColor":"#F05654","UserColor":"#F05654","ViewColor":"#F05654","TimeColor":"#F05654"},
{"ID":8,"TitleColor":"#F35336","UserColor":"#F35336","ViewColor":"#F35336","TimeColor":"#F35336"},
{"ID":9,"TitleColor":"#C32136","UserColor":"#C32136","ViewColor":"#C32136","TimeColor":"#C32136"},
{"ID":10,"TitleColor":"#FF8936","UserColor":"#FF8936","ViewColor":"#FF8936","TimeColor":"#FF8936"},
{"ID":11,"TitleColor":"#FFA400","UserColor":"#FFA400","ViewColor":"#FFA400","TimeColor":"#FFA400"},
{"ID":12,"TitleColor":"#EE8FB7","UserColor":"#EE8FB7","ViewColor":"#EE8FB7","TimeColor":"#EE8FB7"},
{"ID":13,"TitleColor":"#ff84a2","UserColor":"#ff84a2","ViewColor":"#ff84a2","TimeColor":"#ff84a2"},
{"ID":14,"TitleColor":"#fba4c2","UserColor":"#fba4c2","ViewColor":"#fba4c2","TimeColor":"#fba4c2"},
{"ID":15,"TitleColor":"#e7a3cb","UserColor":"#e7a3cb","ViewColor":"#e7a3cb","TimeColor":"#e7a3cb"},
{"ID":16,"TitleColor":"#F0C239","UserColor":"#F0C239","ViewColor":"#F0C239","TimeColor":"#F0C239"},
{"ID":17,"TitleColor":"#C89B40","UserColor":"#C89B40","ViewColor":"#C89B40","TimeColor":"#C89B40"},
{"ID":18,"TitleColor":"#60281E","UserColor":"#60281E","ViewColor":"#60281E","TimeColor":"#60281E"},
{"ID":19,"TitleColor":"#B25D25","UserColor":"#B25D25","ViewColor":"#B25D25","TimeColor":"#B25D25"},
{"ID":20,"TitleColor":"#AE7000","UserColor":"#AE7000","ViewColor":"#AE7000","TimeColor":"#AE7000"},
{"ID":21,"TitleColor":"#7C4B00","UserColor":"#7C4B00","ViewColor":"#7C4B00","TimeColor":"#7C4B00"},
{"ID":22,"TitleColor":"#6E511E","UserColor":"#6E511E","ViewColor":"#6E511E","TimeColor":"#6E511E"},
{"ID":23,"TitleColor":"#955539","UserColor":"#955539","ViewColor":"#955539","TimeColor":"#955539"},
{"ID":24,"TitleColor":"#789262","UserColor":"#789262","ViewColor":"#789262","TimeColor":"#789262"},
{"ID":25,"TitleColor":"#0C8918","UserColor":"#0C8918","ViewColor":"#0C8918","TimeColor":"#0C8918"},
{"ID":26,"TitleColor":"#0EB83A","UserColor":"#0EB83A","ViewColor":"#0EB83A","TimeColor":"#0EB83A"},
{"ID":27,"TitleColor":"#057748","UserColor":"#057748","ViewColor":"#057748","TimeColor":"#057748"},
{"ID":28,"TitleColor":"#9ED048","UserColor":"#9ED048","ViewColor":"#9ED048","TimeColor":"#9ED048"},
{"ID":29,"TitleColor":"#177CB0","UserColor":"#177CB0","ViewColor":"#177CB0","TimeColor":"#177CB0"},
{"ID":30,"TitleColor":"#44CEF6","UserColor":"#44CEF6","ViewColor":"#44CEF6","TimeColor":"#44CEF6"},
{"ID":31,"TitleColor":"#0cd3fa","UserColor":"#0cd3fa","ViewColor":"#0cd3fa","TimeColor":"#0cd3fa"},
{"ID":32,"TitleColor":"#42b3d5","UserColor":"#42b3d5","ViewColor":"#42b3d5","TimeColor":"#42b3d5"},
{"ID":33,"TitleColor":"#1880c5","UserColor":"#1880c5","ViewColor":"#1880c5","TimeColor":"#1880c5"},
{"ID":34,"TitleColor":"#8D4BBB","UserColor":"#8D4BBB","ViewColor":"#8D4BBB","TimeColor":"#8D4BBB"},
{"ID":35,"TitleColor":"#815476","UserColor":"#815476","ViewColor":"#815476","TimeColor":"#815476"},
{"ID":36,"TitleColor":"#952eb6","UserColor":"#952eb6","ViewColor":"#952eb6","TimeColor":"#952eb6"},
{"ID":37,"TitleColor":"#72528a","UserColor":"#72528a","ViewColor":"#72528a","TimeColor":"#72528a"},
{"ID":38,"TitleColor":"#920783","UserColor":"#920783","ViewColor":"#920783","TimeColor":"#920783"}
]