[
{ID:0,Name:"推荐",Status:1,ShowyCover:[
{Cover:"Images/Showy/00/ballon.png",Count:7,ShowType:1,Name:"气球"},
{Cover:"Images/Showy/00/heart.png",Count:4,ShowType:2,Name:"心形"},
{Cover:"Images/Showy/00/03.png",Count:1,ShowType:3,Name:"泡泡"},
{Cover:"Images/Showy/00/04.png",Count:1,ShowType:4,Name:"黑泡泡"},
{Cover:"Images/Showy/00/09.png",Count:1,ShowType:9,Name:"红包"},
{Cover:"Images/Showy/00/10.png",Count:1,ShowType:10,Name:"爆竹"},
{Cover:"Images/Showy/00/11.png",Count:1,ShowType:11,Name:"元宝1"},
{Cover:"Images/Showy/00/12.png",Count:10,ShowType:12,Name:"元宝2"},
{Cover:"Images/Showy/00/13.png",Count:1,ShowType:13,Name:"心形1(向上)"},
{Cover:"Images/Showy/00/14.png",Count:1,ShowType:14,Name:"心形2(向下)"},
{Cover:"Images/Showy/00/snow_1.png",Count:30,ShowType:15,Name:"雪花1"},
{Cover:"Images/Showy/00/snow_2.png",Count:50,ShowType:16,Name:"雪花2"},
{Cover:"Images/Showy/00/snow_3.png",Count:50,ShowType:16,Name:"雪花3"},
{Cover:"Images/Showy/00/snow_4.png",Count:50,ShowType:16,Name:"雪花4"},
{Cover:"Images/Showy/00/snow_5.png",Count:50,ShowType:16,Name:"雪花5"},
{Cover:"Images/Showy/00/snow_6.png",Count:50,ShowType:16,Name:"雪花6"},
{Cover:"Images/Showy/00/snow_7.png",Count:50,ShowType:16,Name:"雪花7"},
{Cover:"Images/Showy/00/yanhua.png",Count:1,ShowType:17,Name:"烟花"}
]},
{ID:1,Name:"在海边",Status:1,ShowyCover:[
{Cover:"Images/Showy/01/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/01/12.png",Count:1,ShowType:0}
]},
{ID:2,Name:"油画",Status:1,ShowyCover:[
{Cover:"Images/Showy/02/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/13.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/14.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/15.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/16.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/17.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/18.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/19.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/20.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/21.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/22.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/23.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/24.png",Count:1,ShowType:0},
{Cover:"Images/Showy/02/25.png",Count:1,ShowType:0}
]},
{ID:3,Name:"树叶",Status:1,ShowyCover:[
{Cover:"Images/Showy/03/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/03/11.png",Count:1,ShowType:0}
]},
{ID:4,Name:"手绘",Status:1,ShowyCover:[
{Cover:"Images/Showy/04/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/12.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/13.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/14.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/15.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/16.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/17.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/18.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/19.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/20.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/21.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/22.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/23.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/24.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/25.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/26.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/27.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/28.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/29.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/30.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/31.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/32.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/33.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/34.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/35.png",Count:1,ShowType:0},
{Cover:"Images/Showy/04/36.png",Count:1,ShowType:0}
]},
{ID:5,Name:"矢量万花筒",Status:1,ShowyCover:[
{Cover:"Images/Showy/05/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/12.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/13.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/14.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/15.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/16.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/17.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/18.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/19.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/20.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/21.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/22.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/23.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/24.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/25.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/26.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/27.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/28.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/29.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/30.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/31.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/32.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/33.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/34.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/35.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/36.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/37.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/38.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/39.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/40.png",Count:1,ShowType:0},
{Cover:"Images/Showy/05/41.png",Count:1,ShowType:0}
]},
{ID:6,Name:"生日祝福",Status:1,ShowyCover:[
{Cover:"Images/Showy/06/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/12.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/13.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/14.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/15.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/16.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/17.png",Count:1,ShowType:0},
{Cover:"Images/Showy/06/18.png",Count:1,ShowType:0}
]},
{ID:7,Name:"汽车",Status:1,ShowyCover:[
{Cover:"Images/Showy/07/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/07/12.png",Count:1,ShowType:0}
]},
{ID:8,Name:"鸟儿",Status:1,ShowyCover:[
{Cover:"Images/Showy/08/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/08/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/08/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/08/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/08/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/08/06.png",Count:1,ShowType:0}
]},
{ID:9,Name:"美食",Status:1,ShowyCover:[
{Cover:"Images/Showy/09/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/12.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/13.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/14.png",Count:1,ShowType:0},
{Cover:"Images/Showy/09/15.png",Count:1,ShowType:0}
]},
{ID:10,Name:"美妙音符",Status:1,ShowyCover:[
{Cover:"Images/Showy/10/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/12.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/13.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/14.png",Count:1,ShowType:0},
{Cover:"Images/Showy/10/15.png",Count:1,ShowType:0}
]},
{ID:11,Name:"马戏团",Status:1,ShowyCover:[
{Cover:"Images/Showy/11/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/07.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/08.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/09.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/10.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/11.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/12.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/13.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/14.png",Count:1,ShowType:0},
{Cover:"Images/Showy/11/15.png",Count:1,ShowType:0}
]},
{ID:12,Name:"旅游建筑",Status:1,ShowyCover:[
{Cover:"Images/Showy/12/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/12/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/12/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/12/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/12/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/12/06.png",Count:1,ShowType:0},
{Cover:"Images/Showy/12/07.png",Count:1,ShowType:0}
]},
{ID:13,Name:"京剧面具",Status:1,ShowyCover:[
{Cover:"Images/Showy/13/01.png",Count:1,ShowType:0},
{Cover:"Images/Showy/13/02.png",Count:1,ShowType:0},
{Cover:"Images/Showy/13/03.png",Count:1,ShowType:0},
{Cover:"Images/Showy/13/04.png",Count:1,ShowType:0},
{Cover:"Images/Showy/13/05.png",Count:1,ShowType:0},
{Cover:"Images/Showy/13/06.png",Count:1,ShowType:0}
]}
]